QuikSchedule/app/src/main/gradlew
QuikSchedule/app/src/main/gradlew.bat
QuikSchedule/app/src/main/local.properties
QuikSchedule/app/src/main/gradle/wrapper/gradle-wrapper.jar
QuikSchedule/app/src/main/gradle/wrapper/gradle-wrapper.properties
.DS_Store